html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

nav button {
  float: right;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
}

nav button:hover {
  color: #000;
  background-color: rgba(255,255,255,.8);
}

header {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background: transparent url("../img/background.jpg") no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

#cta {
  text-align: center;
  width: 80%;
  z-index: 1;
}

#cta .logo, #cta .content {
  width: 80%;
  margin: 0 auto;
}

#cta .addthis_inline_follow_toolbox {
  display: inline-block;
}

@media (min-width: 768px) {
  #cta {
      width: 50%;
  }
}
